
.container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background:#fff;
    }
    h3{
        color: red;
    }
    .product {
      border-bottom: 1px solid #fff;
      padding: 15px 0;
    }
    .product:last-child {
      border-bottom: none;
    }
    .product h2 {
      margin: 0 0 10px;
      font-size: 1.5em;
    }
    .product p {
      margin: 5px 0;
      color: black;
    }
    .product select {
      padding: 5px;
      font-size: 1em;
      margin-top: 10px;
    }
    .btn6 {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 15px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-size: 1em;
    }
    .btn6:hover {
      background-color:#0056b3;
    }
   *,*::after,*::before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      

        .carousel-btn {
          width: 80px;
          height: 80px;
          margin: 5px;
          cursor: pointer;
          
        }
        
        button1 {
          background: none;
          border: none;
          background-color: #fff;
        }

        button img {
          width: 100%;
          object-fit: contain;
          padding:0;
             background-color:#91C8E4;
        }

        .carousel-box {
          width: 350px;
          height: 350px;
          margin: 5px;
          
          
        }

        .carousel-wrapper {
          display: flex;
          
          
        }

        .carousel {
          display: flex;
          
        }

        .carousel-box img {
          width: 100%;
          object-fit: contain;
             background-color:#91C8E4;
        }

        @media screen and (max-width: 499px) {
          .carousel-box {
            width: 180px;
            height: 180px;
            margin: 5px;
        }
        }