* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    background-color: #007bff;
    display: block;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-around;

}

footer {
    background-color: #007bff;


}

.nav-link {
    color: white;

}

.btn-outline-success {
    color: white;
    border-bottom: #0056b3;

}


.nav {
   /*  --bs-nav-link-hover-color: #007bff;  */
    /* color: white;  */
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

main {
    background-color:#0D5EA6;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.logo {
    font-size: 1.5em;
    font-weight: bold;

}

.cart-button {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;
  
}

.cart-button:hover {
    background-color: #0056b3;
    color: white;
    border:2px ;
    border-radius: 3px;
    padding: 5px 10px;
  

}

.cart-button span {
    margin-left: 10px;
}

.card-title {
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;

}

.btn-outline:hover {
    background-color: #0056b3;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px px;

}

.btn-outline {
    background-color: #007bff;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;


}
